node_modules

# dependencies, yarn, etc
# yarn / eslint
packages/framegear/.yarn/cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.vscode/**
.DS_Store
subgraph/build/*
subgraph/generated/*
subgraph/graph-node/data/*
